[submodule "home/asdf"]
	path = home/asdf
	url = https://github.com/froggey/asdf.git
[submodule "home/trivial-features"]
	path = home/trivial-features
	url = https://github.com/froggey/trivial-features
[submodule "home/zpb-ttf"]
	path = home/zpb-ttf
	url = https://github.com/froggey/zpb-ttf
[submodule "home/cl-jpeg"]
	path = home/cl-jpeg
	url = https://github.com/sharplispers/cl-jpeg.git
[submodule "home/chipz"]
	path = home/chipz
	url = https://github.com/froggey/chipz
[submodule "home/alexandria"]
	path = home/alexandria
	url = https://gitlab.common-lisp.net/alexandria/alexandria.git
[submodule "home/babel"]
	path = home/babel
	url = https://github.com/cl-babel/babel
[submodule "home/png-read"]
	path = home/png-read
	url = https://github.com/Ramarren/png-read
[submodule "home/cl-vectors"]
	path = home/cl-vectors
	url = https://github.com/fjolliton/cl-vectors.git
[submodule "home/med"]
	path = home/med
	url = https://github.com/froggey/med
[submodule "home/slime"]
	path = home/slime
	url = https://github.com/froggey/slime
[submodule "Mezzano"]
	path = Mezzano
	url = https://github.com/froggey/Mezzano
[submodule "home/cl-wav"]
	path = home/cl-wav
	url = https://github.com/RobBlackwell/cl-wav.git
[submodule "home/cl-riff"]
	path = home/cl-riff
	url = https://github.com/RobBlackwell/cl-riff.git
[submodule "home/cl-video"]
	path = home/cl-video
	url = https://github.com/varjagg/cl-video.git
[submodule "home/skippy"]
	path = home/skippy
	url = https://github.com/xach/skippy.git
[submodule "home/flexi-streams"]
	path = home/flexi-streams
	url = https://github.com/edicl/flexi-streams.git
[submodule "home/bordeaux-threads"]
	path = home/bordeaux-threads
	url = https://github.com/froggey/bordeaux-threads.git
[submodule "home/trivial-gray-streams"]
	path = home/trivial-gray-streams
	url = https://github.com/froggey/trivial-gray-streams.git
[submodule "home/split-sequence"]
	path = home/split-sequence
	url = https://github.com/sharplispers/split-sequence.git
[submodule "home/spatial-trees"]
	path = home/spatial-trees
	url = https://github.com/rpav/spatial-trees.git
[submodule "home/flexichain"]
	path = home/flexichain
	url = https://github.com/robert-strandh/Flexichain.git
[submodule "home/retrospectiff"]
	path = home/retrospectiff
	url = https://github.com/slyrus/retrospectiff.git
[submodule "home/ieee-floats"]
	path = home/ieee-floats
	url = https://github.com/marijnh/ieee-floats.git
[submodule "home/deflate"]
	path = home/deflate
	url = https://github.com/pmai/Deflate.git
[submodule "home/opticl-core"]
	path = home/opticl-core
	url = https://github.com/slyrus/opticl-core.git
[submodule "home/zpng"]
	path = home/zpng
	url = https://github.com/xach/zpng.git
[submodule "home/salza2"]
	path = home/salza2
	url = https://github.com/xach/salza2.git
[submodule "home/fast-io"]
	path = home/fast-io
	url = https://github.com/rpav/fast-io.git
[submodule "home/cl-tga"]
	path = home/cl-tga
	url = https://github.com/fisxoj/cl-tga.git
[submodule "home/cl-pdf"]
	path = home/cl-pdf
	url = https://github.com/mbattyani/cl-pdf.git
[submodule "home/parsley"]
	path = home/parsley
	url = https://git.mfiano.net/mfiano/parsley.git
[submodule "home/bitio"]
	path = home/bitio
	url = https://github.com/psilord/bitio.git
[submodule "home/binary-data"]
	path = home/binary-data
	url = https://github.com/gigamonkey/monkeylib-binary-data.git
[submodule "home/pngload"]
	path = home/pngload
	url = https://git.mfiano.net/mfiano/pngload.git
[submodule "home/closer-mop"]
	path = home/closer-mop
	url = https://github.com/froggey/closer-mop.git
	branch = master
[submodule "home/static-vectors"]
	path = home/static-vectors
	url = https://github.com/fittestbits/static-vectors.git
	branch = fittestbits/mezzano
[submodule "home/trivial-garbage"]
	path = home/trivial-garbage
	url = https://github.com/froggey/trivial-garbage.git
	branch = fittestbits/mezzano
[submodule "home/opticl"]
	path = home/opticl
	url = https://github.com/froggey/opticl.git
[submodule "home/mcclim"]
	path = home/mcclim
	url = https://github.com/froggey/McCLIM.git
	branch = mezzano-backend
[submodule "home/cl-fad"]
	path = home/cl-fad
	url = https://github.com/froggey/cl-fad.git
	branch = mezzano-port
[submodule "home/quicklisp-client"]
	path = home/quicklisp-client
	url = https://github.com/froggey/quicklisp-client.git
[submodule "home/nibbles"]
	path = home/nibbles
	url = https://github.com/froggey/nibbles.git
[submodule "home/cl-ppcre"]
	path = home/cl-ppcre
	url = https://github.com/edicl/cl-ppcre.git
