[submodule "home/asdf"]
	path = home/asdf
	url = https://github.com/froggey/asdf
[submodule "home/trivial-features"]
	path = home/trivial-features
	url = https://github.com/froggey/trivial-features
[submodule "home/zpb-ttf"]
	path = home/zpb-ttf
	url = https://github.com/froggey/zpb-ttf
[submodule "home/cl-jpeg"]
	path = home/cl-jpeg
	url = https://github.com/sharplispers/cl-jpeg.git
[submodule "home/chipz"]
	path = home/chipz
	url = https://github.com/froggey/chipz
[submodule "home/alexandria"]
	path = home/alexandria
	url = https://gitlab.common-lisp.net/alexandria/alexandria.git
[submodule "home/babel"]
	path = home/babel
	url = https://github.com/cl-babel/babel
[submodule "home/png-read"]
	path = home/png-read
	url = https://github.com/Ramarren/png-read
[submodule "home/cl-vectors"]
	path = home/cl-vectors
	url = https://github.com/fjolliton/cl-vectors.git
[submodule "home/med"]
	path = home/med
	url = https://github.com/froggey/med
[submodule "home/slime"]
	path = home/slime
	url = https://github.com/froggey/slime
[submodule "Mezzano"]
	path = Mezzano
	url = https://github.com/froggey/Mezzano
[submodule "home/cl-wav"]
	path = home/cl-wav
	url = https://github.com/RobBlackwell/cl-wav.git
[submodule "home/cl-riff"]
	path = home/cl-riff
	url = https://github.com/RobBlackwell/cl-riff.git
[submodule "home/cl-video"]
	path = home/cl-video
	url = https://github.com/varjagg/cl-video.git
[submodule "home/skippy"]
	path = home/skippy
	url = https://github.com/xach/skippy.git
[submodule "home/flexi-streams"]
	path = home/flexi-streams
	url = https://github.com/edicl/flexi-streams.git
[submodule "home/bordeaux-threads"]
	path = home/bordeaux-threads
	url = https://github.com/froggey/bordeaux-threads.git
[submodule "home/trivial-gray-streams"]
	path = home/trivial-gray-streams
	url = https://github.com/froggey/trivial-gray-streams.git
[submodule "home/split-sequence"]
	path = home/split-sequence
	url = https://github.com/sharplispers/split-sequence.git
