Source: cl-irc
Section: devel
Priority: optional
Maintainer: Peter Van Eynde <pvaneynd@debian.org>
Build-Depends-Indep: debhelper (>> 4.0.0)
Standards-Version: 3.6.2.1

Package: cl-irc
Architecture: all
Depends: common-lisp-controller (>= 3.37), cl-split-sequence
Description: Common Lisp Internet Relay Chat Library
 cl-irc provides a library for Common Lisp programs to interact with
 IRC servers. This library has been most tested with SBCL.
 Several example programs are provided.



